.box {
  display: flex;
  margin: 5px;
}

.about {
  display: flex;
  flex-direction: column;

  padding: 15px;
  gap: 15px;
}

.genres {
  display: flex;
  gap: 15px;
  list-style: none;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  margin-top: 10px;

  border: 1px solid grey;
}

.btn_back {
  display: inline-block;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: black;
  border-radius: 5px;
  margin: 5px;
}

.btn_back:hover,
.btn_back:focus {
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  color: green;
}
